*, :before, :after {
    box-sizing: border-box;
    border: 0 solid #ccc;
}

html {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}

img, video {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.canva {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.canvas {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.whitespace-no-wrap {
    white-space: nowrap;
}

.object-cover {
    object-fit: cover;
}

.opacity-0 {
    opacity: 0;
}

.opacity-25 {
    opacity: .25;
}

.hover\:menu-button:hover >.submenu {
    display: block;
}

.hover\:opacity-100:hover {
    opacity: 1;
}

.hover\:border-white:hover {
    border: 2px solid #fff;
}

.hover\:text-white:hover {
    color: #fff;
}

.hover\:underline:hover {
    text-decoration: underline;
}

.hover\:bg-lightgray:hover {
    background: #ddd;
}

.hover\:text-red:hover {
    color: #E91E63;
}

.h-40 {
    height: 40px;
}

.static {
    position: static;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.align-middle {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.transition-3, .transition-3-hover:hover {
    transition: all .3s;
}

.tracking-wide {
    letter-spacing: 4px;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.top-0 {
    top: 0;
}

.block {
    display: block;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-1\/2 {
    width: 50%;
}

.w-3\/5 {
    width: 60%;
}

.border-button {
    border: 1px solid #424242;
}

.border-b {
    border-bottom: 1px solid #ddd;
}

.border-lightgray {
    border-color: #ddd;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-white {
    background: #fff;
}

.object-cover {
    object-fit: cover;
}

.rounded {
    border-radius: 4px;
}

.rounded-md {
    border-radius: 6px;
}

.inline-block {
    display: inline-block;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.text-gray {
    color: #bdbdbd;
}

.text-darkgray {
    color: #575757;
}

.text-dark {
    color: #212121;
}

.text-center {
    text-align: center;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-24 {
    font-size: 24px;
}

.line-height-2 {
    line-height: 2;
}

.line-height-1 {
    line-height: 1;
}

.line-height-1\/6 {
    line-height: 1.625;
}

.font-w-200 {
    font-weight: 200;
}

.font-500 {
    font-weight: 500;
}

.flex {
    display: flex;
}

.flex-none {
    flex: none;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.w-3\/5 {
    width: 60%;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.text-white {
    color: #fff;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.border-2 {
    border-width: 2px;
}

.rounded {
    border-radius: 4px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-t-8 {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.rounded-tl {
    border-top-left-radius: .25rem;
}

.rounded-tr {
    border-top-right-radius: .25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.border-gray {
    border: 2px solid #bdbdbd;
}

.bg-transparent {
    background-color: transparent;
}

.bg-black {
    background-color: #000;
}

.bg-semi-black {
    background: rgba(50,50,50,0.5);
}

.my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.my-32  {
    margin-top: 32px;
    margin-bottom: 32px;
} 

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.-mt-4 {
    margin-top: -4px;
}

.-mt-12 {
    margin-top: -12px;
}

.mr-16 {
    margin-right: 16px;
}

.-mr-16 {
    margin-right: -16px;
}

.-mr-px {
    margin-right: -1px;
}

.mt-px {
    margin-top: 1px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-64 {
    margin-bottom: 64px;
}

.ml-8 {
    margin-left: 8;
}

.-ml-16 {
    margin-left: -16px;
}

.-ml-px {
    margin-left: -1px;
}

.-mt-px {
    margin-top: -1px;
}

.p-16 {
    padding: 16px;
}

.pr-4 {
    padding-right: 4px;
}

.pr-20 {
    padding-right: 20px;
}

.pt-8 {
    padding-top: 8px;
}

.pt2\3 {
    padding-top:66.6667%;
}

.mt-px {
    margin-top: 1px;
}

.items-end {
    align-items: flex-end;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-24 {
    padding-bottom: 24px;
}

.px-4 {
    padding-right: 4px;
    padding-left: 4px;
}

.px-8 {
    padding-right: 8px;
    padding-left: 8px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.px-32 {
    padding-right: 32px;
    padding-left: 32px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.mx-8 {
    margin-right: 8px;
    margin-left: 8px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.-mx-12 {
    margin-right: -12px;
    margin-left: -12px;
}

.box {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
    color: rgb(34,34,34);
    display: flex;
    flex-direction: column;
    height: 100%;
    white-space: normal;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.02);
    border-image: initial;
    border-radius: 12px;
}

.hidden-box {
    background: rgba(0, 0, 0, 0.8);
}

.stroke-current {
    stroke: currentColor;
}





@media (min-width: 640px) {
    .header-nav {
        height: 85px;
    }
    
    .sm\:max-w-sm {
        max-width: 385px;
    }

    .sm\:w-1\/3 {
        width: 33.333333%;
    }

    .sm\:w-auto {
        width: auto;
    }

    .container {
        max-width: 640px;
    }

    .cover-image {
        height: calc(100vh - 85px);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .md\:flex {
        display: flex;
    }

    .md\:w-1\/2 {
        width: 50%;
    }

    .md\:ml-40 {
        margin-left: 40px;
    }
}

@media (min-width: 1024px) {
    .logo-img {
        max-width: 300px;
        max-height: 70px;
    }

    .lg\:my-48 {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .lg\:ml-16 {
        margin-left: 16px;
    }

    .container {
        max-width: 1024px;
    }

    .lg\:block {
        display: block;
    }

    .lg\:hidden {
        display: none;
    }

    .lg\:w-1\/3 {
        width: 33.333333%;
    }

    .lg\:w-1\/4 {
        width: 25%;
    }

    .lg\:mb-auto {
        margin-bottom: auto;
    }

    .lg\:w-2\/3 {
        width: 66.666667%;
    }

    .lg\:w-3\/4 {
        width: 75%;
    }

    .lg\:text-30 {
        font-size: 30px;
    }

    .lg\:mb-32 {
        margin-bottom: 32;
    }

    .lg\:text-20 {
        font-size: 20px;
    }

    .lg\:mb-0 {
        margin-bottom: 0;
    }

    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:justify-between {
        justify-content: space-between;
    }

    .lg\:w-auto {
        width: auto;
    }

    .lg\:text-left {
        text-align: left;
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .lg\:px-8 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .lg\:py-12 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .lg\:inline {
        display: inline;
    }

    .lg\:items-center {
        align-items: center;
    }
    
    .lg\:flex {
        display: flex;
    }

    .lg\:mt-0 {
        margin-top: 0;
    }
    
    .lg\:inline-block {
        display: inline-block;
    }

    .lg\:px-24 {
        padding-left: 24px;
        padding-right: 24px;
    }

    .search-box {
        width: 600px;
    }

    .lg\:w-auto {
        width: auto;
    }

    .lg\:pb-128 {
        padding-bottom: 128px;
    }
    
}

@media (min-width: 1280px) {
    .xl\:px-160 {
        padding-left: 160px;
        padding-right: 160px;
    }

    .container {
        max-width: 1280px;
    }

    .xl\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .xl\:mb-40 {
        margin-bottom: 40px;
    }
}

