*, :before, :after {
    box-sizing: border-box;
    border: 0 solid #ccc;
}

html {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}

img, video {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
}

.canva {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.canvas {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.object-cover {
    object-fit: cover;
}

.opacity-0 {
    opacity: 0;
}

.hover\:opacity-100:hover {
    opacity: 1;
}

.hover\:border-white:hover {
    border: 2px solid #fff;
}

.hover\:text-white:hover {
    color: #fff;
}

.static {
    position: static;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.transition-3, .transition-3-hover:hover {
    transition: all .3s;
}

.z-20 {
    z-index: 20;
}

.top-0 {
    top: 0;
}

.block {
    display: block;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-1\/2 {
    width: 50%;
}

.border-b {
    border-bottom: 1px solid #ddd;
}

.border-lightgray {
    border-color: #ddd;
}

.rounded {
    border-radius: 4px;
}

.inline-block {
    display: inline-block;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-gray {
    color: #bdbdbd;
}

.text-darkgray {
    color: #575757;
}

.text-center {
    text-align: center;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-24 {
    font-size: 24px;
}

.line-height-2 {
    line-height: 2;
}

.line-height-1\/6 {
    line-height: 1.625;
}

.font-w-200 {
    font-weight: 200;
}

.font-500 {
    font-weight: 500;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.text-white {
    color: #fff;
}

.border-2 {
    border-width: 2px;
}

.rounded-t-8 {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.rounded-full {
    border-radius: 9999px;
}

.border-gray {
    border: 2px solid #bdbdbd;
}

.bg-transparent {
    background-color: transparent;
}

.my-32  {
    margin-top: 32px;
    margin-bottom: 32px;
} 

.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mt-4 {
    margin-top: 4px;
}

.mt-12 {
    margin-top: 12px;
}

.-mt-12 {
    margin-top: -12px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-8 {
    margin-left: 8;
}

.pt2\3 {
    padding-top:66.6667%;
}

.pb-24 {
    padding-bottom: 24px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.-mx-12 {
    margin-right: -12px;
    margin-left: -12px;
}

.box {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    box-shadow: rgba(0,0,0,0.15) 0px 2px 8px;
    color: rgb(34,34,34);
    display: flex;
    flex-direction: column;
    height: 100%;
    white-space: normal;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.02);
    border-image: initial;
    border-radius: 12px;
}

.hidden-box {
    background: rgba(0, 0, 0, 0.8);
}




@media screen and (min-width: 480px) {

}

@media (min-width: 640px) {
    .sm\:max-w-sm {
        max-width: 385px;
    }

    .sm\:w-1\/3 {
        width: 33.333333%;
    }

    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .md\:flex {
        display: flex;
    }

    .md\:w-1\/2 {
        width: 50%;
    }

    .md\:ml-40 {
        margin-left: 40px;
    }
}

@media screen and (min-width: 960px) {

}

@media (min-width: 1024px) {
    .lg\:my-48 {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .container {
        max-width: 1024px;
    }

    .lg\:block {
        display: block;
    }

    .lg\:hidden {
        display: none;
    }

    .lg\:w-1\/3 {
        width: 33.333333%;
    }

    .lg\:w-1\/4 {
        width: 25%;
    }

    .lg\:mb-auto {
        margin-bottom: auto;
    }

    .lg\:w-3\/4 {
        width: 75%;
    }

    .lg\:text-30 {
        font-size: 30px;
    }

    .lg\:mb-32 {
        margin-bottom: 32;
    }

    .lg\:text-20 {
        font-size: 20px;
    }
    
}

@media (min-width: 1280px) {
    .xl\:px-160 {
        padding-left: 160px;
        padding-right: 160px;
    }

    .container {
        max-width: 1280px;
    }

    .xl\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .xl\:mb-40 {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1440px) {

}



































/*a {
    text-decoration: none;
    color: #000;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.block {
    display: block;
}

.inline-block{
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

svg {
    vertical-align: middle;
}

.rounded {
    border-radius: 12px;
}

.rounded-tl {
    border-radius: 12px 0 0 0;
}

.rounded-tr {
    border-radius: 0 12px 0 0;
}

section {
    margin: 48px 0;
}

.container {
    width: 1280px;
    margin: auto;
}

.uppercase {
    text-transform: uppercase;
}

.hover\:text-red:hover {
    color: #E91E63;
}

.hover\:text-gray-900:hover {
    color: #212121;
}

.hover\:bg-gray-100:hover {
    background-color: #f5f5f5;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px;
}

.text-30 {
    font-size: 30px;
}

.mr-16 {
    margin-right: 16px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

@media screen and (min-width: 480px) {

  }
  
@media screen and (min-width: 960px) {

  }

@media screen and (min-width: 1440px) {

}





























/*HEADER*/

header {
    justify-content: space-between;
    padding: 0px 16px;
    height: 70px;
}

.menu-item {
    display: inline-block;
  }

.menu-item {
    margin-right: 16px;
}

.submenu-item > a {
    padding: 0 20px;
    height: 40px;
}

.menu-item > a:hover {
  color: #E91E63;
}

.submenu-item > a:hover {
    background-color: #212121;
}

.submenu {
    display: none;
    left: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 37px;
    transition: opacity 0.3s ease 0s, margin 0.3s ease 0s;
    animation: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 normal both running fade-in;
}

.submenu-block {
    padding: 8px 0;
}
  
.menu-item:hover > .submenu {
    display: block;
}
  
.submenu-item {
    white-space: nowrap;
}

.menu-button {
    border: 1px solid #000;
    border-radius: 6px;
    padding: 8px 16px 9px;
}


/* MAIN */

.cover-image {
    width: 100%;
    object-fit: contain;
}

.main-search-item {
    padding: 12px 24px;
    background: rgba(50,50,50,0.5);
    margin-right: 1px;
    color: #fff;
}

.main-search-block {
    width: 600px;
    text-align: center;
    left: 50%;
    top: 65%;
    transform: translate( -50%, -50%);
}

.main-search-list {
    text-align: center;
}

.main-search-form {
    padding: 12px 8px;; 
}

form {
    padding: 12px 8px;
    background: #fff;
    justify-content: space-between;
}

.form-input {
    padding: 12px 16px;
    width: 100%;
}

.form-button {
    background: #fff;
    border: none;
}